@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Roboto:wght@300;500;700&display=swap');

html {  
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.4rem;
  background-color: #FDFDFD;
}

main {
  padding: 7.5rem 7.9rem 0 7.9rem;
  background-color: #D9D9D9;
}

#visor {
  width: 100%;
  display: flex;
  background-color: #FFFDFD;
  border-bottom: 1.5rem solid #CBCBCB;
  justify-content: space-between;
}

#visor label {
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

img {
  width: 9.529rem;
  height: 9.5rem;
}

#contador {
  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
  line-height: 7.3rem;
  text-align: center;
}

#tabela {
  background-color: #FFFDFD;
}

#containerBotoes {
  display: flex;
  justify-content: center;
}

#iniciar button {
  background: #6B7D87 url('../img/play.svg') no-repeat center;
}

#pausar button {
  background: #6B7D87 url('../img/pause.svg') no-repeat center;
}

#finalizar button {
  background: #6B7D87 url('../img/stop.svg') no-repeat center;
}

.botao {
  border: #000 solid 0.15rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FDFDFD;
}

#relogio {
  width: 20%;
  height: 11rem;
  margin: 5.2rem 4.9rem 3.8rem 7.1rem;
}

.botoes:hover {
  color: #000;
  transition: ease;
}

#inputs {
  width: 80%;
  margin: 2.5rem 0 2.9rem 3.9rem;
}

#procurar {
  width: 37.1rem;
  height: 4.9rem;
  padding: 1.3rem 2.1rem;
  
  font-style: normal;
  font-weight: 300;
  font-size: 2.3rem;
  line-height: 2.7rem;
}

#filtrar {
  width: 18.6rem;
  height: 4.9rem;
  margin-left: 3.9rem;
  padding: 1.3rem 2.1rem;
  
  font-style: normal;
  font-weight: 300;
  font-size: 2.3rem;
  line-height: 2.7rem;
}

#form {
  display: flex;
  justify-content: space-between;
}

.inputers {
  margin-top: 3.9rem;
}

.inputers input {
  height: 2.7rem;
}

#divTabela{
  background-color: #FDFDFD;
  padding: 3.9rem;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  height: 6.7rem;
}

thead th {
  width: 25%;
}

td:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

td:last-child {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

thead th:nth-child(4){
  width: 15%;
}

thead th:nth-child(5){
  width: 5%;
}

thead th:nth-child(6){
  width: 5%;
}

td {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #D9D9D9;
}

thead tr:first-child {
  background-color: #FDFDFD;
}